.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.gallery-image {
    display: block;
    margin: 0px auto;
}
.galBlock a {
    display: block !important;
    margin: 5px 0px 5px 0px;
}

.galBlock .row {
    margin: 0px 0px 40px 0px;
}
